**/target/
**/*.rs.bk

**/OUT
**/incremental/

**/*.rs.bk

.env

.idea/
*.iml
*.iws
*.idea
.DS_Store/
.vscode/
*.swp
*.swo
.space-*

Cargo.lock
**/.DS_Store

.VSCodeCounter
test.sh
**/config.example.yaml

zkt/tests/plonk_api_proof.bin